<li class="feedr-entry-list-item">
  <div class="row">

    <div class="three columns feedr-feed-title">
        {{feed_title}}
    </div>

    <div class="seven columns feedr-entry-title">
      {{title}}
    </div>

    <div class="two columns u-pull-right">
      {{> partials/entry/item_tools}}
    </div>

  </div>
</li>
