<div class="feedr-entry-tools u-pull-right">
  <a title="Link" href="{{url}}" class="icon-earth"></a>
  <a title="Save" href="#" class="icon-floppy-disk"></a>
  <a title="Star" href="#" class="icon-star-empty"></a>
</div>
