<div class="feedr-entry-tools u-pull-right">

  {{#if entry.starred}}
    {{> partials/entry/form/action entry=entry action="unstar" icon="icon-star-full"}}
  {{else}}
    {{> partials/entry/form/action entry=entry action="star" icon="icon-star-empty"}}
  {{/if}}

</div>
