<div class="feedr-entry-tools u-pull-right">

  {{> partials/entry/form_action entry=entry action="save" icon="icon-floppy-disk"}}

  {{#if entry.starred}}
    {{> partials/entry/form_action entry=entry action="unstar" icon="icon-star-full"}}
  {{else}}
    {{> partials/entry/form_action entry=entry action="star" icon="icon-star-empty"}}
  {{/if}}

</div>
