<li class="feedr-entry-list-item">
  <span class="feedr-feed-title"> {{feed_title}} </span>

  <a class="feedr-entry-link"
      href="/feed/{{feed_id}}/entry/{{id}}">{{title}}</a>

  <span class="feedr-entry-date"> {{format_published_date}} </span>
</li>
