{{#unless entries}}
  <div class="alert-warning">
    <p>No entries!</p>
  </div>
{{/unless}}

<ul class="feedr-entry-list">
  {{#each entries}}
    {{> partials/entry/item entry=this}}
  {{/each}}
</ul>
