<div class="row">
  <div class="eight columns offset-by-four">
    <div class="feedr-tools u-pull-right">
      {{> partials/entry/form/mark_as_read}}
      {{> partials/feed/form/refresh}}
    </div>
  </div>
</div>

{{> partials/entry/list entries=entries}}
