@import "partials/navbar";

html, body {
    height: 100%;
    color: #222;
}

/* CONTENT */

#content {
    margin-top: 2rem;
}

/* LIST */

.feedr-entry-list {
    list-style: none;
}

.feedr-entry-list-item {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #eee;
}

.feedr-entry-link {
    text-decoration: none;
}

.feedr-feed-list {
    list-style: none;
}

.feedr-feed-list-item {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #eee;
}

/* ENTRY */

.feedr-entry {
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid #eee;
    -moz-box-shadow:    1px 2px 10px #eee;
    -webkit-box-shadow: 1px 2px 10px #eee;
    box-shadow: 1px 2px 10px #eee;
}
