@import "partials/colors";
@import "partials/variables";
@import "partials/mixins";
@import "partials/icons";

@import "partials/navbar";
@import "partials/_entry_list";
@import "partials/_feed_list";
@import "partials/_entry";

html, body {
    height: 100%;
    color: $primary-color;
}

/* CONTENT */

#content {
    margin-top: 2rem;
}
