@import "partials/navbar";
@import "partials/_entry_list";
@import "partials/_feed_list";
@import "partials/_entry";

html, body {
    height: 100%;
    color: #222;
}

/* CONTENT */

#content {
    margin-top: 2rem;
}
