<form method="POST" action="/feed">
  <div class="row">

    <div class="six columns">
      <input type="url" name="url" class="u-full-width" placeholder="Url..." required>
    </div>

    <div class="two columns">
        <button class="button-primary" type="submit">Add</button>
    </div>

  </div>
</form>
