$primary-color: #222222;
$secondary-color: #E0E0E0;
$background-color: #F5F5F5;

$light-border-color: #EEEEEE;

$navbar-color: #607D8B;
$navbar-text-color: #FFFFFF;

$list-item-bg-color: #FFFFFF;
$list-item-text-color: #222222;

/* ALERTS */
$alert-error-text-color: #BF2B13;
$alert-error-bg-color: #FCE6E2;

$alert-info-text-color: #1585CF;
$alert-info-bg-color: #BCE8F1;

$alert-success-text-color: #3C763D;
$alert-success-bg-color: #DFF0D8;

$alert-warning-text-color: #B37A00;
$alert-warning-bg-color: #FFF3D9;
