$primary-color: #222222;
$secondary-color: #E0E0E0;
$background-color: #F5F5F5;

$light-border-color: #EEEEEE;

$navbar-color: #607D8B;
$navbar-text-color: #FFFFFF;

$list-item-bg-color: #FFFFFF;
$list-item-text-color: #222222;
