.feedr-entry-list {
    @extend .feedr-list;
}

.feedr-entry-list-item {
    @extend .feedr-list-item;
    font-weight: 600;

    &.feedr-entry-read {
        font-weight: normal;
    }

    &:hover {
        border-color: black;
    }
}

.feedr-feed-title {
    @include text-overflow;

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.feedr-entry-title {
    @include text-overflow;
}

.feedr-entry-tools {
    display: none;
}

@media (min-width: 500px) {
    .feedr-entry-tools {
        display: inline-block;
    }
}

.feedr-form-action {
    margin: 0;
    display: inline-block;

    button[type=submit] {
        margin: 0;
        padding: 0;
        display: block;

        border: none;
        border-radius: none;
    }
}
