.feedr-entry-list {
    @extend .feedr-list;
}

.feedr-entry-list-item {
    @extend .feedr-list-item;
}

.feedr-feed-title {
    @include text-overflow;
}

.feedr-entry-title {
    @include text-overflow;
    font-weight: 600;
}

.feedr-entry-tools {
    display: none;
}

@media (min-width: 500px) {
    .feedr-entry-tools {
        display: inline-block;
    }
}
