.navbar {
    width: 100%;
    height: $navbar-height;;
    border-bottom: $light-border;
    background-color: $navbar-color;
}

.navbar-list {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: $navbar-height;
}

.navbar-item {
    display: inline-block;
    margin: 0 1rem 0 0;
    height: 100%;

    &.active {
        .navbar-link {
            font-weight: bold;
            color: $navbar-text-color-active;
        }
    }
}

.navbar-link {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1rem;
    text-decoration: none;
    color: $navbar-text-color;

    &:hover {
        color: $navbar-text-color-active;
    }
}
