.navbar {
    width: 100%;
    height: 6rem;
    border-bottom: $light-border;
    background-color: $navbar-color;
}

.navbar-list {
    list-style: none;
    float: right;
    margin-top: 2rem;
}

.navbar-item {
    display: inline-block;
    margin-right: 1rem;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    color: $navbar-text-color;

    &:hover {
        color: $navbar-text-color;
    }
}
