.feedr-tools {
    display: inline-block;

    .feedr-mark-as-read,
    .feedr-refresh {
        display: inline-block;
        margin-bottom: 1rem;

        button {
            margin: 0;
            padding: 0;

            height: $tool-size;
            width: $tool-size;
            line-height: 0px;

            vertical-align: top;
            background-color: #546E7A;

            img {
                height: $tool-size / 2;
            }
        }
    }
}
