<div class="navbar">
  <ul class="navbar-list">

    <li class="navbar-item">
      <a class="navbar-link" href="/">Home</a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" href="/entries/starred">Starred</a>
    </li>

    <li class="navbar-item">
      <a class="navbar-link" href="/feeds">Feeds</a>
    </li>

  </ul>
</div>
